.resource-amount-icons {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.resource-amount-icons__icon {
  --icon-size: var(--icon-size-inline);
  font-size: var(--icon-size-inline);
}

.resource-amount-icons__multiplier {
  font-weight: 600;
}
